@font-face {
  font-family: "Eina 03";
  src: url("eina-light.eot");
  src: url("eina-light.eot?#iefix") format("embedded-opentype"),
    url("eina-light.woff") format("woff"),
    url("eina-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Eina 03";
  src: url("eina-bold.eot");
  src: url("eina-bold.eot?#iefix") format("embedded-opentype"),
    url("eina-bold.woff") format("woff"),
    url("eina-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Eina 03";
  src: url("eina-semibold.eot");
  src: url("eina-semibold.eot?#iefix") format("embedded-opentype"),
    url("eina-semibold.woff") format("woff"),
    url("eina-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Eina 03";
  src: url("eina-regular.eot");
  src: url("eina-regular.eot?#iefix") format("embedded-opentype"),
    url("eina-regular.woff") format("woff"),
    url("eina-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("MaisonNeue-Bold.woff2") format("woff2"),
    url("MaisonNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("MaisonNeue-Demi.woff2") format("woff2"),
    url("MaisonNeue-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("MaisonNeue-Book.woff2") format("woff2"),
    url("MaisonNeue-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("MaisonNeue-Light.woff2") format("woff2"),
    url("MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Maison Neue";
  src: url("MaisonNeue-Light.woff2") format("woff2"),
    url("MaisonNeue-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
